/cache
/log
/lib/vendor/symfony
/web/*Plugin
/config/databases.yml
/data/sql/*
/lib/*/doctrine/base/*
/.project
/data/index/*
/plugins/.*
/lib/*/doctrine/*Plugin/base/*
/.cache
/.settings
/nbproject/*
/.externalToolBuilders
/build
.buildpath
.pydevproject
.fuse*
.DS_Store
*.swp
*.pyc

/web/uploads
